.card {
	max-width: 300px;
	height: auto;
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
	border-radius: 5px;
	border: 1px solid #5056cc;
	padding: 1px;
	position: relative;
}

.cardDetails {
	background-color: #141313e7;
	font-size: 1.2rem;
	overflow: hidden;
	position: absolute;
	width: 99.5%;
	height: 99.5%;
	opacity: 0;
	transition: all 0.3s ease;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	color: #ffffffa6;
	font-family: "Roboto", sans-serif;
	font-size: 0.8rem;
	transition: opacity 0.6s ease;
}

.detailHead {
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
}

.detail {
	width: 90%;
	margin: auto auto;
}

.card:hover > .cardDetails {
	opacity: 1;
}

img {
	width: 100%;
	height: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.image {
	padding: 1px;
}

.details {
	display: flex;
	flex-direction: column;
	background-color: rgb(6, 6, 6);
	padding: 0.6rem;
	justify-content: space-evenly;
}

.text {
	display: block;
	margin: 0.1rem;
}
